.main{
  color: white;
  font-size: 1.4rem;
  width: 100%;
}
.headerSection{
  display: flex;
  flex-direction: row nowrap;
  justify-content: space-between;
  align-items: center;
  background-color:rgb(112, 112, 112);
  height: 50px;
  width: 100%;
}
.title{
  color: white;
  font-size: 1.4rem;
  padding-left: 1%;
  width: 30%;
}

.buttonsSection{
  display: flex;
  flex-direction: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  margin:2px 2%;
  width: 40%;
}
.button{
  background-color: rgb(120, 250, 228);
  font-size: 1rem;
  border-color: rgb(120, 250, 228);
  border-radius:0.3rem;
}

.contentSection{
  height: 500px;
  width:100%;
  background-color: black;
}
.mainContent{
  padding-top: 10%;
  height:350px;
  text-align: center;
}
.titleContent{
  font-size: 2rem;
  color: white;
  padding-bottom:3%;
}

.timeSection{
  display:flex;
  flex-direction: row;
  justify-content: center;
  height:70%;
}
.time{
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  font-size:1.7rem;
  color:rgb(120, 250, 228);
  height: 40%;
  width: 10%;
  margin-right:5%;
  background-color:rgb(112, 112, 112) ;
}
.label{
  font-size:1rem;
  color: White;
}
.time0{
  display: none;
}