.mainBox{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width:100%;
  background-color:rgba(0, 217, 255, 0.664);
}
.backgroundBox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 0.9rem;
  border-top-right-radius: 0.9rem;
  height: 550px;
  width: 75%;
  background-color: rgb(238, 235, 231);
}
.contentBox{
 display: flex;
 flex-direction: column;
 justify-content: space-evenly;
 align-items: center;
 width: 70%;
 height: 80%;
 background-color: #063970;
 border-radius:0.9rem;
}
.myTitleSection{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  color: white;
  font-size: 2rem;
}
.myTitle{
  font-size: 2.5rem;
  width: 70%;
  /* background-color: green; */
}
.stopWatchBox{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height:60%;
  width: 108%;
  background-color: white;
  margin-bottom: 5%;
  border-radius: 0.9rem;
}
.mytime{
  width: 100%;
  font-size:2.3rem;
  text-align: center;
}
.buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 30%;
}
.button{
  
  padding:4% 10%;
  border-radius: 0.5rem;
  color: #68169e;
  border-color: #68169e;
}